
mat-sidenav-container {
    min-height: 100vh;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

mat-sidenav {
    width: 20rem;
}

app-header {
    flex: 1;
}

button {
    position: absolute;
    top: 2rem;
    left: 0;
}