
mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  @media screen and (max-width: 599px) {
    align-items: flex-start;
  }
}

mat-sidenav {
  box-sizing: border-box;
  width: 20rem;
  padding: 1rem;
}

app-header {
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.left-sidenav-button-outer {
  z-index: 999;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  span {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.right-sidenav-button-outer {
  z-index: 999;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  span {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.sidenav-hr {
  margin: 0.75rem 0;
}

// Raise up board in case footer is fixed
.with-fixed {
  margin-bottom: 13rem;
}
