<mat-sidenav-container *ngIf="dms.game">

  <mat-sidenav-content>

    <button
      cdkDrag
      mat-mini-fab
      color="accent"
      class="left-sidenav-button-outer"
      (click)="leftSidenav.toggle()"
    >
      <span>&#9776;</span>
    </button>

    <!-- Using ngIf because matBadgeHidden isn't working -->
    <button
      *ngIf="badgeVisible"
      cdkDrag
      mat-mini-fab
      color="accent"
      matBadge="!"
      matBadgeColor="warn"
      matBadgeSize="small"
      matBadgePosition="before"
      class="right-sidenav-button-outer"
      (click)="rightSidenav.toggle()"
    >
      <span>&#10078;</span>
    </button>
    <button
      *ngIf="!badgeVisible"
      cdkDrag
      mat-mini-fab
      color="accent"
      class="right-sidenav-button-outer"
      (click)="rightSidenav.toggle()"
    >
      <span>&#10078;</span>
    </button>

    <app-header></app-header>

    <mat-card *ngIf="windowWidth >= 600" [ngClass]="[dms.isFooterFixed ? 'with-fixed' : '']">
      <app-board></app-board>
    </mat-card>
    <div *ngIf="windowWidth < 600" [ngClass]="[dms.isFooterFixed ? 'with-fixed' : '']">
      <app-board></app-board>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>

  <mat-sidenav #leftSidenav mode="over" fixedInViewport="true" autoFocus="false" position="start" closed>
    <app-left-sidenav [sidenav]="leftSidenav" [toggleEmailNotifications]="toggleEmailNotifications"></app-left-sidenav>
  </mat-sidenav>

  <mat-sidenav #rightSidenav mode="over" fixedInViewport="true" autoFocus="false" position="end" closed>
    <app-right-sidenav [sidenav]="rightSidenav"></app-right-sidenav>
  </mat-sidenav>

</mat-sidenav-container>