
mat-sidenav-container {
    min-height: 100vh;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media screen and (max-width: 599px) {
        align-items: flex-start;
    }
}

mat-sidenav {
    width: 15rem;
    padding: 5rem 2rem;
}

app-header {
    flex: 1;
    @media screen and (max-width: 599px) {
        display: none;
    }
}

.sidenav-button-inner, .sidenav-button-outer {
    z-index: 999;
    top: 1rem;
    font-size: 2rem;
    padding: 0;
    box-sizing: border-box;
    span {
        margin: 0;
        padding: 0;
        display: inline-block;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
}

.sidenav-button-inner {
    position: absolute;
    right: 1rem;
    span {
        display: inline-block;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
}

.sidenav-button-outer {
    position: fixed;
    left: 1rem;
}