
<mat-sidenav-container>

  <mat-sidenav-content>
    <button
        cdkDrag
        mat-mini-fab
        color="accent"
        class="sidenav-button-outer" 
        (click)="sidenav.toggle()"
    >
      <span>&#x02259;</span>
    </button>
    <app-header></app-header>
    <mat-card *ngIf="windowWidth >= 600">
      <app-board></app-board>
    </mat-card>
    <app-board *ngIf="windowWidth < 600"></app-board>
    <app-footer></app-footer>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" fixedInViewport="true" autoFocus="false" closed>
    <div class="inset-card">
        <h1>Navigation</h1>
        <button mat-raised-button href="">Home</button>
        <button mat-raised-button href="">Rules</button>
        <button mat-raised-button href="">Statistics</button>
    </div>
    <div class="inset-card">
        <h1>Settings</h1>
        <mat-slide-toggle (change)="toggleFooter()">Dock tile rack</mat-slide-toggle>
        <mat-slide-toggle >Email notifications</mat-slide-toggle>
    </div>
    <button mat-mini-fab color="accent" class="sidenav-button-inner" (click)="sidenav.toggle()">
      <span>&#x0225A;</span>
    </button>
  </mat-sidenav>

</mat-sidenav-container>
