
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    min-width: 36rem;
    height: auto;
    padding: 1rem;   
    margin-top: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 36rem;
    padding: 2rem;

    &.fixed {
        position: fixed;
        bottom: 0;
        z-index: 950;
        width: 100%;
        background-color: white;
        padding: 0.5rem;
        box-shadow: 0 -1rem 0.5rem -1rem gray;
        -webkit-box-shadow: 0 -1rem 0.5rem -1rem gray;
        -moz-box-shadow: 0 -1rem 0.5rem -1rem gray;
        .ui-rack {
            margin: 0 auto 0.5rem;
        }
    }

    @media screen and (max-width: 599px) {
        position: fixed;
        bottom: 0;
        z-index: 950;
        width: 100%;
        background-color: white;
        padding: 0.5rem;
        box-shadow: 0 -1rem 0.5rem -1rem gray;
        -webkit-box-shadow: 0 -1rem 0.5rem -1rem gray;
        -moz-box-shadow: 0 -1rem 0.5rem -1rem gray;
        .ui-rack {
            margin: 0 auto 0.5rem;
        }
    }

}

.fix-footer-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    box-sizing: border-box;
    @media screen and (max-width: 599px) {
        display: none;
    }
}

.ui-rack {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto 1rem;
}

.button-row {
    flex: 1;
    width: 100%;
    text-align: center;
    button {
        margin: auto 0.25rem;
        div {
            padding: 0 !important;
        }
    }
}

.mat-stroked-button.compact, .mat-raised-button.compact {
    min-height: 2rem !important;
    min-width: 3rem !important;
    padding: 0.75rem !important;
    line-height: 1rem;
}

.info-bar {
    display: block;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 36rem;
    padding: 1rem;   
    margin: 2rem auto 0;
    &.with-fixed-footer {
        margin: 0 auto 10rem;
    }
}

.banner-info {
    font-size: 1rem;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 200;
    line-height: 1.25rem;
    box-sizing: border-box;
    padding: 0 0.5rem;
}
