<mat-card [ngClass]="['footer', gameService.isFooterFixed ? 'fixed' : '']" (click)="handleFooterClick()">

  <div
    cdkDropList
    (cdkDropListDropped)="gameService.dropOnRack($event)"
    [cdkDropListConnectedTo]="gameService.allDropLists"
    [cdkDropListData]="gameService.rack"
    cdkDropListOrientation="horizontal"
    [id]="'testid'"
    class="ui-rack"
  >
    <app-tile
      cdkDrag
      [cdkDragDisabled]="gameService.gameOver"
      (cdkDragStarted)="gameService.dragStarted($event, tile)"
      *ngFor="let tile of gameService.rack"
      [tile]="tile"
    ></app-tile>
  </div>

  <div class="button-row">
    <button
      mat-stroked-button
      class="compact"
      (click)="shuffle($event)"
      [class.disabled]="isButtonDisabled"
      [disabled]="isButtonDisabled"
    >
      Shuffle
    </button>
    <button
      mat-stroked-button
      class="compact"
      [class.disabled]="isButtonDisabled"
      [disabled]="isButtonDisabled"
      (click)="clear($event)"
    >
      Clear
    </button>
    <button
      mat-stroked-button
      class="compact"
      [class.disabled]="isButtonDisabled"
      [disabled]="isButtonDisabled"
      (click)="exchange($event)"
    >
      Trade
    </button>
    <button
      mat-stroked-button
      class="compact submit"
      [class.disabled]="isSubmitDisabled"
      [disabled]="isSubmitDisabled"
      (click)="submit($event)"
    >
      Submit
    </button>
  </div>

  <div class="footer-info" *ngIf="!gameService.gameOver">
    <span>
      Turn {{gameService.currentTurn}} - {{gameService.player.user.name}}
    </span>
    <span *ngIf="gameService.isCurrentPlayerUser()">
      Pending score:
      <span *ngIf="!gameService.dragging">
        {{pendingScore}}
      </span>
    </span>
  </div>
  <div class="footer-info" *ngIf="gameService.gameOver">
    <span>
      Game over!
      {{gameService.isCurrentPlayerUser() ? 'You win' : gameService.winner.user.name + ' wins'}}
      with {{gameService.winner.score}} points
    </span>
  </div>

</mat-card>