
<mat-card [ngClass]="['footer', gameService.isFooterFixed ? 'fixed' : '']" (click)="handleFooterClick()">
  <!-- <button mat-mini-fab color="accent" class="fix-footer-button" (click)="toggleFooter()">
    <span *ngIf="!isFooterFixed">&#x0225A;</span>
    <span *ngIf="isFooterFixed">&#x02259;</span>
  </button> -->
  <div
    cdkDropList
    (cdkDropListDropped)="gameService.drop($event)"
    [cdkDropListConnectedTo]="gameService.allDropLists"
    [cdkDropListData]="gameService.rack"
    [id]="'testid'"
    class="ui-rack"
  >
      <app-tile
        cdkDrag
        (cdkDragStarted)="gameService.dragStarted($event, tile)"
        *ngFor="let tile of gameService.rack"
        [tile]="tile"
      ></app-tile>
  </div>
  <div class="button-row">
    <button
        mat-stroked-button
        class="compact"
        (click)="shuffle($event)"
    >
        Shuffle
    </button>
    <button
        mat-stroked-button
        class="compact"
        [class.disabled]="!gameService.isCurrentPlayerUser()"
        [disabled]="!gameService.isCurrentPlayerUser()"
        (click)="clear($event)"
    >
      Clear
    </button>
    <button
        mat-stroked-button
        class="compact"
        [class.disabled]="!gameService.isCurrentPlayerUser()"
        [disabled]="!gameService.isCurrentPlayerUser()"
        (click)="exchange($event)"
    >
        Trade
    </button>
    <button
        mat-stroked-button
        class="compact submit"
        [class.disabled]="isSubmitDisabled"
        [disabled]="isSubmitDisabled"
        (click)="submit($event)"
        >
        Submit
    </button>
  </div>
    <div class="footer-info">
        <span>
            Turn {{gameService.currentTurn}} - {{gameService.player.user.name}}
        </span>
        <span *ngIf="gameService.isCurrentPlayerUser()">
            Pending score: {{pendingScore}}
        </span>
    </div>
</mat-card>
