<mat-card [ngClass]="['footer', dms.isFooterFixed ? 'fixed' : '']" (click)="this.mut.selectSquareOrRack(null)">

  <div
    cdkDropList
    (cdkDropListDropped)="mut.dropOnRack($event)"
    [cdkDropListConnectedTo]="dms.allDropLists"
    [cdkDropListData]="dms.rack"
    cdkDropListOrientation="horizontal"
    [id]="'testid'"
    class="ui-rack"
  >
    <app-tile
      cdkDrag
      [cdkDragDisabled]="dms.gameOver"
      (cdkDragStarted)="mut.dragStarted($event, tile)"
      *ngFor="let tile of dms.rack"
      [tile]="tile"
    ></app-tile>
  </div>

  <div class="button-row">
    <button
      mat-stroked-button
      class="compact"
      (click)="mut.shuffle()"
    >
      Shuffle
    </button>
    <button
      mat-stroked-button
      class="compact"
      [class.disabled]="isButtonDisabled"
      [disabled]="isButtonDisabled"
      (click)="mut.playClear($event)"
    >
      Clear
    </button>
    <button
      mat-stroked-button
      class="compact"
      [class.disabled]="isButtonDisabled"
      [disabled]="isButtonDisabled"
      (click)="mut.exchange()"
    >
      Trade
    </button>
    <button
      mat-stroked-button
      class="compact submit"
      [class.disabled]="isSubmitDisabled"
      [disabled]="isSubmitDisabled"
      (click)="mut.submitPlay()"
    >
      Submit
    </button>
  </div>

  <div class="footer-info" *ngIf="!dms.gameOver">
    <span>
      Turn {{dms.currentTurn}} - {{dms.currentPlayer.user.name}}
    </span>
    <span *ngIf="dms.isCurrentPlayerUser">
      Pending score:
      <span *ngIf="!dms.dragging">
        {{pendingScore}}
      </span>
    </span>
  </div>
  <div class="footer-info" *ngIf="dms.gameOver">
    <span>
      Game over!
      {{isUserWinner ? 'You win' : dms.winner.user.name + ' wins'}}
      with {{dms.winner.score}} points
    </span>
  </div>

</mat-card>