<button mat-raised-button routerLink="/home" routerLinkActive="active">Home</button>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of dataService.users">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
      <span [ngClass]="getStatus(user.id) ? getStatus(user.id).toLowerCase() : ''">
        {{getStatus(user.id) || user.memberStatus}}
      </span>
      <div
        *ngIf="user.memberStatus === 'PENDING' && !getStatus(user.id)"
        (click)="activateUser(user.id)"
      >
        &#10003;
      </div>
      <div
        *ngIf="user.memberStatus === 'PENDING' && !getStatus(user.id)"
        (click)="rejectUser(user.id)"
      >
        &#10007;
      </div>
    </td>
  </tr>
  </tbody>
</table>