<div class="header-wrapper">
  <div #headerwrapper>
    <app-header></app-header>
  </div>
</div>

<div class="main">
  <mat-card class="game-selection" *ngIf="authService.isAdmin">
    <p> You are logged in as an administrator </p>
    <button mat-raised-button (click)="router.navigate(['/admin'])">Go to Admin page</button>
  </mat-card>

  <mat-card class="game-selection">
    <mat-form-field color="accent">
      <mat-select placeholder="Game" [(ngModel)]="selectedGameId">
        <mat-option *ngFor="let game of dms.games" [value]="game.id">
          <span *ngFor="let player of game.players">{{ player.user.givenName }}, </span>
          started {{ getDateGameCreated(game._id).toLocaleString("en-us") }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="handleResumeGameClick()">Resume game</button>
  </mat-card>

  <mat-card class="game-selection">
    <mat-form-field color="accent">
      <mat-select placeholder="Opponent" [(ngModel)]="selectedOpponent">
        <mat-option *ngFor="let opponent of opponents" [value]="opponent">
          {{ opponent.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="handleNewGameClick()">Begin new game</button>
  </mat-card>

  <mat-card class="instructions">
    <mat-card-title>Instructions</mat-card-title>
    <mat-card-content>
      <em>Opponents: </em> To appear in the opponent menu, users must have logged in and been
      approved by the administrator.
    </mat-card-content>
    <mat-card-content>
      <em>Moving your tiles: </em> To place a tile, either drag and drop the tile or click to select
      it and then click on a square. You may move a tile from the board back to your rack either by
      dragging and dropping or by selecting the tile and then clicking next to your other tiles
      at the bottom of the screen. Clicking the Clear button will return all your
      tiles to your rack.
    </mat-card-content>
    <mat-card-content>
      <em>Exchanging tiles: </em> You may choose to exchange any number of tiles instead of playing a
      word on the board. (There is no penalty, but your turn ends after exchanging.) For each tile you
      want to exchange, select the tile and then click Trade. When you are ready to end your
      turn and receive new tiles, click Submit. If you change your mind before submitting
      and decide not to exchange any tiles, you can click Clear.
    </mat-card-content>
    <mat-card-content>
      <em>Fake words and challenges: </em> Fake words are not automatically blocked. It is each player's
      responsibility to follow an agreed upon dictionary. (The standard choice is the OSPD, 6th edition.)
      There is not currently an option to challenge your opponent's last play, but watch for this feature
      in the near future!
    </mat-card-content>
  </mat-card>
</div>