
<div class="header-wrapper">
    <app-header></app-header>
</div>

<div class="main">
    <mat-card class="game-selection">
        <p> Select a previous game to resume: </p>
        <mat-form-field>
            <mat-select placeholder="Game">
                <mat-option *ngFor="let game of games" [value]="game.id">
                    {{ game.id }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button>Go</button>
        <p> Or select an opponent for a new game: </p>
        <mat-form-field>
            <mat-select placeholder="Opponent">
                <mat-option *ngFor="let opponent of opponents" [value]="opponent.id">
                    {{ opponent.id }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button>Go</button>
    </mat-card>

    <mat-card class="instructions">
        <mat-card-title>Instructions</mat-card-title>
        <mat-card-content>
            To appear in the opponent menu, users must have logged in at least once. 
            In order to log in, users must contact the admin for pre-approval.
        </mat-card-content>
        <mat-card-content>
            To place a tile, click to select it and then select a square.
            You may remove a selected tile from the board by clicking next to your other tiles.
        </mat-card-content>
        <mat-card-content>
            Fake words are not automatically blocked.
        </mat-card-content>
        <mat-card-content>
            An option to challenge words is coming soon!
        </mat-card-content>
    </mat-card>
</div>