:host {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

app-header {
  margin: 0;
}

.header-wrapper {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 0;
  padding: 3rem 0.5rem 2rem;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
  padding: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem auto;    
}

.game-selection, .instructions {
  box-sizing: border-box;
  width: 46rem;
  margin: 2rem 0 0;
  max-width: 100%;
  &:last-child {
    margin-bottom: 2rem;
  }
}

.game-selection:first-of-type {
  margin-top: 0.5rem;
}

.game-selection > *, .instructions > * {
  margin: 1rem 0.5rem;
}

mat-card-title {
  text-align: center;
  margin: 0 0 2rem;
}

.mat-form-field {
  width: 20rem;
  margin-bottom: 0 !important;
}

button {
  margin-top: 0;
}