<button
  mat-mini-fab
  color="accent"
  class="sidenav-button-inner"
  (click)="toggleSidenav()"
>
  <span>&times;</span>
</button>

<div class="inset-card">
  <h1>Messages</h1>
  <!-- To avoid "Expression has changed after it was checked", only scroll after messages are present -->
  <div #chatWrapper [scrollTop]="(!dms.chatMessages || !dms.chatMessages.length) ? 0 : chatWrapper.scrollHeight" class="chat-wrapper">
    <ul class="chat-list">
      <li *ngFor="let chat of dms.chatMessages; index as i" class="chat-item">
        <p *ngIf="i === 0 || dms.chatMessages[i].authorUserId !== dms.chatMessages[i-1].authorUserId" class="chat-info">
          <span class="chat-author">
            {{formatChatAuthor(chat.authorUserId)}}
          </span>
          <span class="chat-date">
            {{formatChatTime(chat.date)}}
          </span>
        </p>
        <p class="chat-message">
          {{chat.message}}
        </p>
      </li>
    </ul>
  </div>
  <form #chatForm="ngForm" (ngSubmit)="onSubmit(chatForm)" novalidate>
    <mat-form-field color="accent">
      <input
        matInput
        ngModel
        name="chatInput"
        #chatInput="ngModel"
        class="chat-input"
        type="text"
        placeholder="Type your message here"
        rows="2"
        autofocus
        autocomplete="off"
      >
    </mat-form-field>
  </form>
</div>
