<button mat-mini-fab color="accent" class="sidenav-button-inner" (click)="sidenav.toggle()">
  <span>&times;</span>
</button>

<div class="inset-card">
  <h1>Messages</h1>
  <mat-form-field>
    <input matInput class="chat-input" type="text" placeholder="Talk smack here" rows="2" autofocus>
  </mat-form-field>
  <div #chatWrapper class="chat-wrapper">
    <ul class="chat-list">
      <li *ngFor="let chat of reverseChats" class="chat-item">
        <p class="chat-info">
          <span class="chat-author">
            {{chat.author}}
          </span>
          <span class="chat-time">
            {{formatChatTime(chat.time)}}
          </span>
        </p>
        <p class="chat-message">
          {{chat.message}}
        </p>
      </li>
    </ul>
  </div>
</div>
