<button mat-mini-fab color="accent" class="sidenav-button-inner" (click)="sidenav.toggle()">
  <span>&times;</span>
</button>

<div class="inset-card">
  <h1>Messages</h1>
  <div #chatWrapper [scrollTop]="chatWrapper.scrollHeight" class="chat-wrapper">
    <ul class="chat-list">
      <li *ngFor="let chat of chats; index as i" class="chat-item">
        <p *ngIf="i === 0 || chats[i].author !== chats[i-1].author" class="chat-info">
          <span class="chat-author">
            {{chat.author}}
          </span>
          <span class="chat-time">
            {{formatChatTime(chat.time)}}
          </span>
        </p>
        <p class="chat-message">
          {{chat.message}}
        </p>
      </li>
    </ul>
  </div>
  <form #chatForm="ngForm" (ngSubmit)="onSubmit(chatForm)" novalidate>
    <mat-form-field>
      <input
        matInput
        ngModel
        name="chatInput"
        #chatInput="ngModel"
        class="chat-input"
        type="text"
        placeholder="Type your message here"
        rows="2"
        autofocus
      >
    </mat-form-field>
  </form>
</div>
