
:host {
    display: block;
    border: 0.5rem solid white;
    margin: 2rem auto;
    box-sizing: border-box;
    width: 46rem;
    @media screen and (max-width: 599px) {
        position: relative;
        left: 0;
        right: 0;
    }
}

.ui-row {
    height: 3rem;
    width: 45rem;
}
